### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

.idea/
/cypress/downloads/
/cypress/files/*
/cypress/screenshots/
/cypress/videos/
/cypress/results
/cypress/reports
reports/

.env
.DS_Store
Thumbs.db
*.log

# Common node modules locations
/node_modules

# Vscode
/.vscode

#Files
package-lock.json
yarn.lock

#Cypre config json file
/cypress.config.json
